
.container {
    margin: 30px auto;
    height: 1500px;
    background: #ececf6;
}

.header {
    display: block;
    height: 100%;
    width: 100%;
    background: #686868;
    margin: auto;
}

header {
    height: 7%;
}

main {
    height: auto;
}

footer {
    height: 15%;
}

p {
    padding: 15px;
    text-align: right;
    color: azure;
}
.par{
    text-align: left;
    padding: 15px;
    color: #ececf6;
    font-weight: bold;
    margin-bottom: 50px;
}
.par2{
    text-align: left;
    padding: 15px;
    color: #ececf6;
    font-weight: normal;
}
.centerlist{
    color: #ececf6;
    padding: 0 0 0 100px;
    margin-bottom: 50px;
}
/*A{color: azure;}*/
.pro4erc {
    margin: 15px auto;
    border: 1px solid
}

.left1 {
    display: block;
    height: content-box;
    width: 100%;
    background: #686868;
}
ul.leftlist{
    list-style-type: none;
    text-align: left;
    color: #ececf6;
    padding: 10px 0 0 10px;
}
ul.leftlist>li:first-child {
    font-weight: bold;
}
.left2 {
    display: block;
    width: 100%;
    height: 200px;
    background: #686868;
}
.center {
    height: 33.3333%;
}
.midl{
    padding-top: 15px;
    padding-bottom: 15px;
}

.right1 {
    display: block;
    height: 100%;
    background: #686868;
}
.right2 {
    /*content: '';*/
    box-sizing: border-box;
    /*display: inline-block;*/
    height: 100%;
    width: 100%;
    background: #686868;


}
.right3 {
    height: 100%;
    width: 100%;
    background: #686868;
    font-size: 14px;
    color: #ececf6;
}
h6{
    padding: 15px 15px 15px 15px;
}

.column1 {
    width: 50%;
    float: left;
    padding: 0 0 0 0;
    color: #ececf6;
    list-style-type: none;
}
li{
    padding: 0 0 0 0;
}
.column2{
    width: 50%;
    float: right;
    padding: 0 0 0 0;
    color: #ececf6;
    list-style-type: none;
}
.foot{
    display: block;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background: #686868;
    padding: 20px 20px;

}
.foot2{
    display: block;
    height: 100%;
    width: 100%;
    background: #686868;
    list-style-type: square;
}
.foot2b{
    list-style-type: square;
    color: #ececf6;
    padding: 15px 0 0 40px;
}
.a{
    margin-bottom: 15px;
}
.foot3a{
    content: '';
    display: block;
    height:100%;
    width: 100%;
    background: #686868;
}
.b{
    margin-top: 15px;
}
.foot3b{
    content: '';
    display: block;
    height:100%;
    width: 100%;
    background: #686868;
}
.foot4{
    height: 100%;
}

.col-xs-1-5,
.col-sm-1-5,
.col-md-1-5,
.col-lg-1-5 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.col-xs-1-5 {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-1-5 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-1-5 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-1-5 {
        width: 20%;
        float: left;
    }
}